.contacts {

    &__body {
        padding-top: 118px;
        padding-bottom: 123px;

        @media (max-width: 840px) {
            padding-top: 82px;
            padding-bottom: 118px;
        }
    }

    &__title {
        margin: 0 0 20px 0;

        @media (max-width: 840px) {
            margin: 0 0 27px 0;
        }
    }

    &__text {
        line-height: 21px;
        text-align: center;
        margin: 0 0 33px 0;
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        margin: 0 0 85.78px 0;

        @media (max-width: 840px) {
            margin: 0 0 48px 0;
        }

        & ._btn {
            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        max-width: 344px;
        margin: 0 auto 43px auto;
        height: 40px;
    }

    &__link {
        margin: 0 0 46px 0;
        height: 40px;
        width: 40px;
    }

    &__likeme {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $secondColor;

        @media (max-width: 840px) {
            font-size: 18px;
        }
    }
}
