.portfolio {
    background: $secondBackground;

    &__body {
        padding-top: 107px;

        @media (max-width: 840px) {
            padding-top: 0 0 81px 0;
        }
    }

    &__title {
        margin: 0 0 54px 0;

        @media (max-width: 840px) {
            margin: 0 0 65px 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__img {
        margin: 0 0 37px 0;
        width: calc(100% + 8px);

        @media (max-width: 840px) {
            margin: 0 0 33px 0;
        }
    }

    &__link {
        display: block;
        line-height: 22px;
        text-align: center;
        text-decoration: underline !important;
        margin: 0 0 99px 0;
    }
}
