.skills {
    background: $firstBackgound;

    &__body {
        padding: 83px 0 110px 0;
    }

    &__title {
        margin: 0 0 58px 0;
    }

    &__text {
        line-height: 22px;
        text-align: center;
        margin: 0 0 87px 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 166px;
        height: 203px;
    }

    &__img {
        width: 89px;
        height: 89px;
        margin: 0 auto 21px auto;
        display: block;

        &_figma {
            width: 60px;
        }
    }

    &__subtitle {
        width: 89px;
        text-align: center;
        color: $secondColor;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
    }

    &__rating {
        display: flex;
        justify-content: space-between;
    }

    &__star {
        margin: 0 12px 0 0;
        fill: #E5E5E5;
        width: 22px; 
        height: 22px;

        &:last-child {
            margin: 0;
        }

        &_active {
            fill: $mainColor;
        }
    }
}